.campo-digitacao{
	font-size: 20px;
	height: 130px;
}

.frase{
	font-size: 20px;
	text-align: left;
}

.icones{
	vertical-align: middle;
}

.campo-desativado{
	background-color: lightgray;
}

.botao-desativado{
	display: none;
}

.texto-certo{
	border: 3px solid green;
}

.texto-errado{
	border: 3px solid red;
}